/* Make content area full-width or wider */
main.content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

h1, h2 {
  color: #004037;
}
